<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.gd.uspace.space.dao.SpaceDAO">
	<select id="getSpaceInfo" resultType="com.gd.uspace.space.dto.SpaceDTO">
		SELECT * FROM space WHERE space_no = #{param1}
	</select>
	<select id="getSpaceImage" resultType="com.gd.uspace.space.dto.SpaceImageDTO">
		SELECT * FROM spaceImage WHERE space_no = #{param1}
	</select>
	<select id="getSpaceReview" parameterType="hashmap" resultType="com.gd.uspace.space.dto.SpaceReviewDTO">
		SELECT * FROM spaceReview sr
		WHERE sr.space_no = #{space_no}
		<if test="sort == '별점높은순'"> 
		ORDER BY review_score DESC
		</if>
		<if test="sort == '별점낮은순'">
		ORDER BY review_score ASC
		</if>
		<if test="sort == '최신순'">
		ORDER BY review_score ASC
		</if>
		<if test="sort == '과거순'">
		ORDER BY review_score ASC
		</if>
		<if test="page != null">
          LIMIT #{page} * 10 - 10, 10
        </if> 
	</select>
	<select id="getSpaceQuestion" resultType="com.gd.uspace.space.dto.SpaceQuestionDTO">
		SELECT * FROM spaceQuestion WHERE space_no = #{param1}
	</select>
	<select id="getSpaceAnswer" resultType="com.gd.uspace.space.dto.SpaceAnswerDTO">
		select * from spaceAnswer sa where sa.space_question_no 
			in (select space_question_no from spaceQuestion sq WHERE space_no = #{param1});
	</select>
	<select id="getSpaceOperating" resultType="com.gd.uspace.space.dto.SpaceOperatingDTO">
		SELECT * FROM spaceOperating WHERE space_no = #{param1}
	</select>
</mapper>