<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.gd.uspace.member.dao.MemberDAO">
	<select id="login" resultType="com.gd.uspace.member.dto.MemberDTO">
		select user_id from user where user_id=#{param1} and user_pw=#{param2} 
	</select>
	
	<select id="overlay" resultType="int">
		select count(user_id) from user where user_id = #{param1}
    </select>
    
    <insert id ="join" parameterType="map">
		INSERT INTO user(user_id,user_pw,user_name,user_phone,user_gender,user_email)
		VALUES(#{id},#{pw},#{name},#{number},#{gender},#{email})
	</insert>

</mapper>