<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.gd.uspace.main.dao.MainDAO">
	<select id="getMemberDTO" resultType="com.gd.uspace.member.dto.MemberDTO">
		SELECT * FROM user WHERE user_id = #{param1}
	</select>
	<select id="mypage_list" resultType="com.gd.uspace.group.dto.GroupDTO">
			  SELECT
		  ug.group_no
		  ,ug.group_name
		  ,CONCAT(ug.group_starttime ,' ~ ', ug.group_endtime) AS group_time
		  ,CONCAT(ug.group_people,' / ',ug.group_highpeople) AS par_people
		  ,ug.group_confirm
		  ,ug.group_state
		  FROM
		  us_group ug
		  order by CONCAT(ug.group_starttime ,' ~ ', ug.group_endtime) DESC;
	</select>
</mapper>