<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.gd.uspace.admin.dao.AdminDAO">
	<select id="adminQna_list" parameterType="Map" resultType="com.gd.uspace.admin.dto.AdminDTO">
	SELECT
	    sq.space_no			AS 'space_no',
	    sq.user_id,
	    sq.question_content 	AS 'space_content1',
	    sq.question_write_date AS 'space_write_date1',
	    sa.space_content 	AS 'space_content2',
	    sa.qna_state,
	    sa.space_write_date AS 'space_write_date2',
	    sa.space_question_no AS 'space_qna_no'
	FROM
	    spaceQuestion sq
	LEFT JOIN spaceAnswer sa ON sq.space_question_no = sa.space_question_no
	
	WHERE 1=1
       <if test="space_no != null and !''.equals(space_no)"> <!--  장소번호로 검색하기 위한 쿼리문 -->
               and sq.space_no = ${space_no}
        </if>
		<if test="state != null and !''.equals(state)">		<!--  답변상태로 필터링하기 위한 쿼리문 -->
             and sa.qna_state = ${state} 
        </if>
        <if test="sort == 'newest'">							<!--  최신순로 필터링하기 위한 쿼리문 -->
              ORDER BY sq.question_write_date DESC
        </if>
        <if test="sort == 'oldest'">							<!--  오랜된순로 검색하기 위한 쿼리문 -->
              ORDER BY sq.question_write_date ASC
        </if>
<!--  		<if test="page != null">
		    LIMIT #{page} * 10 - 10, 10
		</if> -->
	</select>
	
		<select id="selectAdminQna" parameterType="map" resultType="com.gd.uspace.admin.dto.AdminDTO">
	SELECT
	    sq.space_no			AS 'space_no',
	    sq.user_id,
	    sq.question_content 	AS 'space_content1',
	    sq.question_write_date AS 'space_write_date1',
	    sa.space_content 	AS 'space_content2',
	    sa.qna_state,
	    sa.space_write_date AS 'space_write_date2',
	    sa.space_question_no AS 'space_qna_no'
	FROM
	    spaceQuestion sq
	LEFT JOIN spaceAnswer sa ON sq.space_question_no = sa.space_question_no
	
	WHERE 1=1
       <if test="space_no != null and !''.equals(space_no)"> <!--  장소번호로 검색하기 위한 쿼리문 -->
               and sq.space_no = ${space_no}
        </if>
		<if test="state == confirm">		<!--  답변상태로 필터링하기 위한 쿼리문 -->
             and sa.qna_state = 1 
        </if>
        <if test="state == ready">		<!--  답변상태로 필터링하기 위한 쿼리문 -->
             and sa.qna_state = 0 
        </if>
        <if test="sort == 'newest'">							<!--  최신순로 필터링하기 위한 쿼리문 -->
              ORDER BY sq.question_write_date DESC
        </if>
        <if test="sort == 'oldest'">							<!--  오랜된순로 검색하기 위한 쿼리문 -->
              ORDER BY sq.question_write_date ASC
        </if>

	</select>
	 		<!-- <if test="page != null">
		    LIMIT #{page} * 10 - 10, 10
		</if> -->
		
		
</mapper>